CONFIG_ARM=y
CONFIG_TARGET_JZ2440=y
CONFIG_SYS_PROMPT="JZ2440 # "

CONFIG_SPL=y

### CONFIG_SYS_NAND_U_BOOT_START=0x31400000
### CONFIG_SYS_NAND_U_BOOT_DST=0x31400000
### CONFIG_SYS_NAND_U_BOOT_OFFS=0x200000
### CONFIG_SYS_NAND_U_BOOT_SIZE=0x100000

### CONFIG_SPL_NAND_SIMPLE=y
### CONFIG_SYS_NAND_PAGE_SIZE=2048
### CONFIG_SYS_NAND_PAGE_COUNT=131072
### CONFIG_SYS_NAND_BLOCK_SIZE=131072
### CONFIG_SYS_NAND_BASE=0x4E00000C

### CONFIG_SYS_TEXT_BASE=0x30000000